page-contact {
  .car{
    height: auto;
    width: 30%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    //padding: 40px;
  }
  #s{
    float: right;
  }
  #a{
    float: left;
  //  height: 650px;
  }
  .spic{
    height: 400px;
    width: 400px;
}
.apic{
  height: 400px;
  width: 400px;

}
}
